.container{
	color: white;
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 100%;
	align-items: center;
}



.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0rem 4rem 0.8rem 4rem;
	gap: 2rem;
	margin-bottom: 10px;
}



.header_container{
	margin-bottom: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo{
	width: 6rem;
	cursor: pointer;
}
.header_container h1{
	font-size: 64px;

}


.header_container h1 span{
	background: linear-gradient(140deg, rgb(174, 186, 192) 0%, rgb(255, 171, 2) 100%);
	background-clip: text;
	color: transparent;
}

.header_container p{
	font-size: 20px;

}

.header_container p span{
	color: #13bbe6;
	width: 175px;
height: 30px;
font : bold ;

background: rgba(228, 13, 13, 0.277);
border-radius: 5px;
	padding: .2rem 0.2rem .2rem .2rem;
	margin-left: .2rem;
}


.buttonsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
  }
  .button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 32px;
	gap: 12px;
	width: 392px;
	height: 76px;
	background: rgba(0, 0, 0, 0.8); /* Grayscale/Metal */
	border: 1px solid #4E4E4E;
	border-radius: 12px;
	cursor: pointer;
  }.button:hover,
  .button:focus {
	background-color: rgba(0, 0, 0, 0.6);
  }

.button p {

font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}

